/* Product Page */

.foot-product {
  background-color: #1e2834;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.8rem;

  h5 {
    text-align: center;
  }
}

.nav-wear {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}


.product-nav {
  h1 {
    margin-top: 5rem;
    text-align: center;
    font-size: 4rem;
  }
}

.button-wear {
  text-align: center;

  button {
    margin-right: 20px;
    text-align: center;
    padding: 10px 35px;
    border-radius: 25px;
    color: antiquewhite;
    font-size: 16px;
    font-weight: 800;
    background-color: #24252a;
    border: none;

    &:hover {
      transition: all 0.5s ease-out;
      background-color: #151928;
    }
  }
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.list-wear { 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 25%;
  margin-top: 5rem;
  transition: transform 0.5s ease-out; 

  &:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease-out;
  }

  &:not(:hover) {
    transform: none; 
    transition-delay: 0.2s; 
  }

  img {
    width: 80%;
    border-radius: 5px;
    opacity: 0.8;
  }

  .list-container {
    text-align: center;

    h2 {
      font-size: 12px;
      text-align: center;
    }

  }

  h3 {
    font-size: 20px;
    color: #adada1;
    margin-left: 3rem;
  }

  h2 {
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 25px;
  }

.info-wear {
  margin-top: 1rem;
  display: flex;
  gap: 14.5rem;

  button {
    color: #fff;
    background-color: #24252a;
    border-radius: 5px;
    border: none;
  }

}

}

.more-wear {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;

  button {
    background-color: #24252a;
    border-radius: 10px;
    color: antiquewhite;
    border: none;
  }

}