@use 'main.scss' as main;
@use 'footer.scss' as footer;
@use 'productpage.scss' as productpage;
@use 'us.scss' as us;
@use 'contact.scss' as contact;
@use 'account.scss' as account;
@use 'productinfo.scss' as productinfo;


@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

body {
  background-color: #101116;
  font-family: "Kanit", sans-serif;
  margin: 0;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}



/* Header */

.header-home {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(../images/forest.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3.5rem;
  z-index: 999;
}



.logo-home {
  margin-left: 5rem;
  list-style: none;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-right: 10rem;
}

li {
  margin-right: 20px;
}

.nav-icons {
  position: absolute;
  right: 60px;
}

.nav-icons img {
  width: 30px;
  filter: invert(1);
}

.nav-icons a {
  margin-left: 20px;
}

ul li a button {
  font-size: 16px;
}

.navbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  background-color: rgb(16, 17, 22, 0.4);

  .navbar-brand {
    margin-left: 2rem;
    color: #fff;
  }

  li {
    a{
      color: #fff;
    }
  }

}




.wear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 968px;
  margin-top: -4rem;
  margin-left: 20rem;
}

.wear h1 {
  font-size: 8rem;
}

.wear p {
  margin-top: -2rem;
  margin-left: 1rem;
  max-width: 25rem;
  color: #adada1;
}

.wear button {
  margin-left: 1rem;
  width: 7rem;
  height: 2.2rem;
  border-radius: 5px;
  background-color: #2e4f4f;
  border: none;
  color: #fff;
}



// Responsive Home
 
@media screen and (max-width: 768px) {
 

  .wear {
  align-items: center;
  margin-left: 0;

      h1 {
        text-align: center;
      }
    }

    .text-home {

      display: block;
      
      p {
        
      }
    }

    .item-a,
    .item-b,
    .item-d {
    display: none;
    }

    .item-c {
      margin-top: 5rem;
      margin-left: 10rem;
    }

    .text-product 
      h3 {
        margin-right: 5rem;
        font-size: 20px;
        max-width: 20rem;
    }

    .outfit-idea {

      .outfit1 {
        
        margin-top: 25rem;
        margin-left: -5rem;
        
      }
    }

    .info-container1 {
      p {
        display: none;
      }

    
    }

    .more-info {
      margin-left: -40rem;
      width: 10%;
      
      img {
        max-width: 60%;
      }
      
    }

    .more-info2 {
      img {
        max-width: 60%;
      }
      
    }

    .outfit-text {
      margin-right: -40rem;

      h1 {
        margin-left: -40rem;
        font-size: 1.5rem;
      }

      p {
        margin-left: -40rem;
        font-size: 1.5rem;
      }

      button {
        margin-left: -40rem;
        font-size: 1.5rem;
      }
    }
    
}


  @media screen and (max-width: 500px) {

    .nav-icons {
      display: none;
    }
  
    .wear {
          align-items: center;
          margin-top: -10rem;
          margin-bottom: 4rem;
          margin-left: 0;
        
          h1 {
          text-align: center;
          font-size: 7rem;
        }
  
        p {
          margin-top: 1px;
          text-align: center;
        }
  
        button {
          margin-left: 9rem;
        }
    }
  
    .text-home {
        p {
            margin-top: 1rem;
            margin-bottom: 5rem;
            width: 90%;
        }
        
        
        flex-direction: column;
    }
  
    .item-a,
    .item-b,
    .item-d {
    display: none;
    }

    .item-c {
      margin-top: 5rem;
      margin-left: 10rem;
    }
  
    .text-product {
        h3 {
          margin-right: 5rem;
          font-size: 15px;
          max-width: 12rem;
      }
    }

    footer {

      
      
      h5 {
        font-size: 12px;
      }
    }

    .info-container1 {
      
      .more-info {
        display: none;
      }
    }

  }


.outfit-idea {

 .outfit-text {
  margin-top: -50rem;
  margin-bottom: 20rem;
  margin-left: 60rem;

   p {
    color: #adada1;
  }

  button {
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #24252a;

    &:hover {
      background-color: #2e4f4f;
    }
  
  }

  
 }

  .outfit1 {

    

    img {
      border-radius: 10px;
      width: 20%;
      margin-left: 10rem;
      margin-top: -70rem;
    }

  }

}


.info-container1 {
  display: flex;
}

.more-info,
.more-info2 {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  position: relative;

  img {
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 4rem;
    border-radius: 5px;
    opacity: 0.5; 
  }

  p {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    opacity: 1; 
    user-select: none;
  }
}






  

  // Responsive Product

@media screen and (max-width: 768px) {


  .list-container {

    display: block;
    
      .list-wear {
        width: 30rem;
        margin-left: 8.5rem;

        button {
          margin-left: -5rem;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
  .list-container {
  .list-wear {
    margin-left: 3rem;
    width: 25rem;
  }
  }
  }

  // Responsive Product Info

  @media screen and (max-width: 768px) {
  .product-container1 {
  width: 85%;
  display: block;
  img {
  margin-left: -8px;
  }
  }
  }

  // Responsive Brand

@media screen and (max-width: 768px) {

  .acordion {
    margin-top: -5rem;
    margin-right: 15rem;
  }
  .about-us {
  text-align: center;
  h1 {
  margin: 4rem 0 4rem;
  }
  p {
  margin: 0 4rem 4rem;
  }
  }

  #map {
    display: none;
  }
  }

  // Responsive contact

  @media screen and (max-width: 768px) {
  .email {
  display: none;
  }

  .email-container {
  margin: 0;
  }

  .text-contact {
  margin: 0;
  .text-1 {
  margin: 4.5rem;
  margin-top: 10rem;
  }
  }
  }

  @media screen and (max-width: 500px) {
  .text-contact {
  .text-1 {
  font-size: 3rem;
  }
  }

  #map {
    display: block;
    margin-top: 1rem;
    width: 50rem;
    height: 300px;
  }


  .acordion {
    display: none;
  }
  
  }

  // Responsive Home 

  @media screen and (max-width: 500px) {

  
    


    .bk-outfit {



      img {
        width: 1000px;
      }      
    }
    
    .outfit-idea {

      margin-top: 15rem;
     
    }

    
    .outfit-text {
      
      h1 {
        font-size: 20px;
        max-width: 25rem;     
        margin-left: -55rem;  
      }

      p {
        font-size: 18px;
        max-width: 10rem;
        margin-left: -55rem;  
      }

      button {
        margin-left: -55rem;  
      }
    }


    .outfit1 {
      display: none;
    }
  
    

    .more-info {
      margin-left: -56rem;
      margin-right: -10rem;

      img {
        width: 50%;
      }

      a {
        p {
          display: none;
        }
      }
    }

    .more-info2 { 

      img {
        width: 50%;
      }

      a {
        p {
          display: none;
        }
      }
    }
  }

  // Responsive Account

  @media screen and (max-width: 500px) {
    
    .col-6 {
      display: none;
    }

    .phone-account {
      display: block;

      h1 {
        font-size: 3rem;
        text-align: center;
        margin-top: 10rem;
      }

      h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 3rem;
        margin-right: 6rem;
        color: #adada1;
      }

      a {
        
        color: #2e4f4f;
        text-decoration: underline;

        p {
          margin-top: 2rem;
          text-align: center;
        }
      }
    }

  }

  @media screen and (max-width: 768px) {

    .col-6 {
      display: none;
    }

    .phone-account {
      display: block;

      h1 {
        font-size: 3rem;
        text-align: center;
        margin-top: 5rem;
      }

      h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 3rem;
        max-width: 15rem;
        margin-left: 6.5rem;
        color: #adada1;
      }

      a {
        
        color: #2e4f4f;
        text-decoration: underline;

        p {
          margin-top: 2rem;
          text-align: center;
        }
      }
    
    }
  

  }


 .nav-link {
  &:hover {
    color: grey;
  }
 }
  